<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suryansh Khranger - Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
</head>

<body>
    <!-- Sidebar -->
    <aside id="sidebar">
        <div class="profile-picture">
            <!-- Your profile picture here -->
        </div>
        <!-- navbar -->
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">Experience</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#education">Education</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#resume">Resume</a></li>
            </ul>
        </nav>
    </aside>

    <!-- Main Content -->
    <main>
        <!-- About Section -->
        <section id="about">
            <div class="banner">
                <h1>About</h1>
            </div>
            <div class="content">
                <h2>Hi, I'm Suryansh Khranger</h2>
                <p class="designation">A Python Programmer</p>
                <p>This is a short description about myself.</p>
                <p>Find me on <a href="#">GitHub</a> and <a href="#">LinkedIn</a>.</p>
            </div>
        </section>

        <!-- Experience Section -->
        <section id="experience">
            <!-- Section Header -->
            <div class="banner">
                <h1>Experience</h1>
            </div>
            <!-- Section Content -->
            <div class="content">
                
            </div>
        </section>

        <!-- Projects Section -->
        <section id="projects">
            <!-- Section Header -->
            <div class="banner">
                <h1>Projects</h1>
            </div>
            <!-- Section Content -->
            <div class="content">
                <div class="project-listings">
                    <!-- small containers -->
                    <!-- small container 1 -->
                    <div class="project-container project-image1" id="">
                        <div class="project-container-overlay">
                            <div class="project-container-overlay-text">
                                <video controls class="project-demo-video1">
                                    <source src="../assets/project_images_videos/ToDo_List_recording.mov" type="video/mov">
                                    Your browser does not support the video tag.
                                </video>
                                <div class="project-container-overlay-text-title">
                                    Task Tracker
                                </div>
                                <div class="project-container-overlay-text-technology">
                                    iOS Application
                                </div>
                                <div class="project-container-overlay-text-details">
                                    Created an iOS application for tracking tasks and due dates, complete with a calender and reminders features.
                                </div>
                            </div>
                        </div>
                        <div class="project-container-overlay-text-plus">
                            +
                        </div>
                        <div class="project-item">
                            <div class="project-item-wrapper">
                                <img src="" alt="">                        
                            </div>
                        </div>
                    </div>
                    <!-- small container 2 -->
                    <div class="project-container project-image2" id="">
                        <div class="project-container-overlay">
                            <div class="project-container-overlay-text">
                                <div class="project-container-overlay-text-title">
                                    Client Manager
                                </div>
                                <div class="project-container-overlay-text-technology">
                                    Web Application
                                </div>
                                <div class="project-container-overlay-text-details">
                                    Created a web-based application for tracking interactions, payments, and cash flow for a business and its clients.
                                </div>
                            </div>
                        </div>
                        <div class="project-container-overlay-text-plus">
                            +
                        </div>
                        <div class="project-item">
                            <div class="project-item-wrapper">
                                <img src="" alt="">                        
                            </div>
                        </div>
                    </div>
                    <!-- small container 3 -->
                    <div class="project-container project-image3" id="">
                        <div class="project-container-overlay">
                            <div class="project-container-overlay-text">
                                <div class="project-container-overlay-text-title">
                                    Nutrilens AI
                                </div>
                                <div class="project-container-overlay-text-technology">
                                    iOS Application
                                </div>
                                <div class="project-container-overlay-text-details">
                                    Collaborated to develop an iOS application that uses Artificial Intelligence powered technology to provide photo analysis-based suggestions on meal preperation and ingredient safety.
                                </div>
                            </div>
                        </div>
                        <div class="project-container-overlay-text-plus">
                            +
                        </div>
                        <div class="project-item">
                            <div class="project-item-wrapper">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- small container 4 -->
                    <div class="project-container project-image4" id="">
                        <div class="project-container-overlay">
                            <div class="project-container-overlay-text">
                                <div class="project-container-overlay-text-title">
                                    Personal Website
                                </div>
                                <div class="project-container-overlay-text-technology">
                                    Web Development
                                </div>
                                <div class="project-container-overlay-text-details">
                                    Created my own personal website for displaying projects, interests, and my resume.
                                </div>
                            </div>
                        </div>
                        <div class="project-container-overlay-text-plus">
                            +
                        </div>
                        <div class="project-item">
                            <div class="project-item-wrapper">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- small container 5 -->
                    <div class="project-container project-image5" id="">
                        <div class="project-container-overlay">
                            <div class="project-container-overlay-text">
                                <div class="project-container-overlay-text-title">
                                    project name
                                </div>
                                <div class="project-container-overlay-text-technology">
                                    project technology
                                </div>
                            </div>
                        </div>
                        <div class="project-container-overlay-text-plus">
                            +
                        </div>
                        <div class="project-item">
                            <div class="project-item-wrapper">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>
                    <!-- small container 6 -->
                    <div class="project-container project-image6" id="">
                        <div class="project-container-overlay">
                            <div class="project-container-overlay-text">
                                <div class="project-container-overlay-text-title">
                                    project name
                                </div>
                                <div class="project-container-overlay-text-technology">
                                    project technology
                                </div>
                            </div>
                        </div>
                        <div class="project-container-overlay-text-plus">
                            +
                        </div>
                        <div class="project-item">
                            <div class="project-item-wrapper">
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>

                    <!-- bigger displays -->
                    <div class="overlay" id="overlay">
                        <div class="overlay-content">

                        </div>
                    </div>
                </div>          
            <!-- Other -->
            </div>
        </section>

        <!-- Skills Section -->
        <section id="skills">
            <!-- Section Header -->
            <div class="banner">
                <h1>Skills</h1>
            </div>
            <!-- Section Content -->
            <!-- Language and databases -->
            <div class="content">           
                <h1>
                    Languages and Databases
                </h1>
                <!-- scrolling list of items -->
                <div class="scrolling-list">
                    <div class="item">
                        <img src="../assets/skills/Languages_Database/python.png" alt="Python">
                        <span>Python</span>
                    </div>
                    <div class="item">
                        <img src="../assets/skills/Languages_Database/swift.png" alt="Swift">
                        <span>Swift</span>
                    </div>
                    <div class="item">
                        <img src="../assets/skills/Languages_Database/c.png" alt="C">
                        <span>C</span>
                    </div>
                    <div class="item">
                        <img src="../assets/skills/Languages_Database/html-5.png" alt="HTML5">
                        <span>HTML5</span>
                    </div>
                    <div class="item">
                        <img src="../assets/skills/Languages_Database/css-3.png" alt="CSS3">
                        <span>CSS3</span>
                    </div>
                    <div class="item">
                        <img src="../assets/skills/Languages_Database/js.png" alt="JavaScript">
                        <span>JavaScript</span>
                    </div>
                    <div class="item">
                        <img src="../assets/skills/Languages_Database/mongodb.png" alt="MongoDB">
                        <span>MongoDB</span>
                    </div>
                    <!-- Add more items as needed -->
                </div>
            </div>
            <!-- Libraries -->
            <div class="content">           
                <h1>
                    Libraries
                </h1>
                <!-- scrolling list of items -->
                <div class="scrolling-list">
                    <div class="item">
                        <img src="path_to_python_icon" alt="NumPy">
                        <span>NumPy</span>
                    </div>
                    <div class="item">
                        <img src="path_to_python_icon" alt="Scikit-Learn">
                        <span>Scikit-Learn</span>
                    </div>
                    <div class="item">
                        <img src="path_to_python_icon" alt="Pandas">
                        <span>Pandas</span>
                    </div>
                    <div class="item">
                        <img src="path_to_python_icon" alt="OpenCV">
                        <span>OpenCV</span>
                    </div>
                    <div class="item">
                        <img src="path_to_python_icon" alt="OpenAI API">
                        <span>OpenAI API</span>
                    </div>
                    <!-- Add more items as needed -->
                </div>
            </div>
            <!-- Frameworks -->
            <div class="content">
                <h1>
                    Frameworks
                </h1>
                <!-- scrolling list of items -->
                <div class="scrolling-list">
                    <div class="item">
                        <img src="../assets/skills/Frameworks/flask.png" alt="Flask">
                        <span>Flask</span>
                    </div>
                    <div class="item">
                        <img src="path_to_python_icon" alt="Keras">
                        <span>Keras</span>
                    </div>
                    <div class="item">
                        <img src="path_to_python_icon" alt="Tensor Flow">
                        <span>Tensor Flow</span>
                    </div>
                    <!-- Add more items as needed -->
                </div>
            </div>
            <!-- Other -->
            <div class="content">
                <h1>
                    Other
                </h1>
                <!-- scrolling list of items -->
                <div class="scrolling-list">
                    <div class="item">
                        <img src="../assets/skills/Other/git.png" alt="Git">
                        <span>Git</span>
                    </div>
                    <div class="item">
                        <img src="../assets/skills/Other/github.png" alt="GitHub">
                        <span>GitHub</span>
                    </div>
                    <!-- Add more items as needed -->
                </div>
            </div>
        </section>

        <!-- Education Section -->
        <section id="education">
            <!-- Section Header -->
            <div class="banner">
                <h1>Education</h1>
            </div>
            <!-- Section Content -->
            <div class="content">
                <h1>
                    University of Alberta
                </h1>
                <div>
                    Edmonton, Alberta, Canada
                </div>
                <div class="education-program">
                    <strong>Degree: </strong> Bachelor of Science in Computing Science, Specialization in Artificial Intelligence
                </div>
                <div class="grade">

                </div>
            </div>
            <div class="content">
                <h1>
                    Lillian Osborne High School
                </h1>
                <div>
                    Edmonton, Alberta, Canada
                </div>
                <div class="education-program">
                    <strong>Program: </strong> International Baccalaureate Diploma Program
                </div>
                <div class="grade">

                </div>
            </div>
        </section>

        <!-- Contact Section -->
        <section id="contact">
            <!-- Section Header -->
            <div class="banner">
                <h1>Contact</h1>
            </div>
            <!-- Section Content -->
            <div class="content">
                
            </div>
        </section>

        <!-- Resume Section -->
        <section id="resume">
            <!-- Section Header -->
            <div class="banner">
                <h1>Resume</h1>
            </div>
            <!-- Section Content -->
            <div class="content">
                
            </div>
        </section>

        <footer>
            <div class="credits">
                <h3>Icon Credits</h3>           <!-- using non copy-right ones -->
                <!-- source: https://uxwing.com -->
            </div>
        </footer>
    </main>

    <script src="script.js"></script>
</body>




</html>
