/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Sidebar Styles */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #f0f8ff;                              /* Light blue background */
    padding: 20px;
    z-index: 1000;
    overflow-y: auto;                                         /* Enable vertical scrolling if needed */
}

.profile-picture {
    /* Add styles for your profile picture */
}

nav ul {
    list-style-type: none;
    margin-top: 20px;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;                 /* Smooth transition effect */
}

nav ul li a:hover {
    background-color: #ddd; /* Light gray background on hover */
}

nav ul li.current a {
    background-color: #ccc; /* Slightly darker background for the current section */
}

nav a.current-section {
    background-color: #339c79;                          /* Change to the desired color for the current section */
    color: #fff;                                        /* Change to the desired text color */
}


/* Main Content Styles */
main {
    margin-left: 250px;                                     /* Adjust based on sidebar width */
}

section {
    margin-bottom: 40px;
}

.banner {
    background-color: #339c79;                              /* Light green background */
    padding: 20px;
    text-align: left;
    margin: 0;
}

.banner h1 {
    text-transform: uppercase;
    font-family: monospace;
    font-size: 24px;
    color: #fff;
}

.content {
    margin: 2.5%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),       /* Bottom edge shadow */
                -2px 0 4px rgba(0, 0, 0, 0.05),     /* Left edge shadow */
                2px 0 4px rgba(0, 0, 0, 0.05);      /* Right edge shadow */
}

.content h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #339c79;
}

.scrolling-list {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
}

.item {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.item img {
    display: block;
    margin: 0 auto;
    width: 50px; /* Adjust size as needed */
    height: 50px; /* Set the height to match the width */
    object-fit: contain; /* Maintain aspect ratio and fit the image within the dimensions */
}


.item span {
    display: block; /* Ensure the text is on a new line */
}


/* Customize individual sections */
/* About Section */
#about .designation {
    font-style: italic;
    min-height: 1em;                    /* To keep the designation text line open even wehn theres no text */
}

/* Contact Section */
#contact p {
    margin-bottom: 10px;
}

#contact a {
    text-decoration: none;
    color: #007bff; /* Blue color */
}

#contact a:hover {
    text-decoration: underline;
}





/* projects */
.project-listings {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.project-container {
    position: relative;
    width: calc(33.33% - 20px);                     /* Adjust width to fit three per row */
    height: calc(33.33vw - 64px);                   /* Set height to match the width, maintaining a square aspect ratio */
    background-color: #00aeff;
    padding: 10px;
    margin: 10px;                                   /* Add some space between items */
    border-radius: 5px;
    box-sizing: border-box;                         /* Include padding and border in the width calculation */
    /* centering bg image */
    background-size: cover;                         /* Ensure the background image covers the entire container */
    background-position: center;                    /* Center the background image */
}
.project-container:hover  .project-container-overlay{
    opacity: 1;
}
.project-container:hover .project-container-overlay-text-plus{
    display: flex;
}
.project-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);         /* Semi-transparent black overlay */
    color: white;
    display: flex;
    opacity: 0;                                     /* Initially hidden */
    transition: opacity 0.3s ease;                  /* Smooth transition */
}
.project-container-overlay-text {
    width: 100%;
    height: 100%;
    margin-left: 24px;
    margin-top: 24px;
}
.project-container-overlay-text-title {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}
.project-container-overlay-text-technology {
    width: 100%;
    font-family: "Courier New", Courier, monospace;
}
.project-container-overlay-text-plus {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 76px;
    text-align: center;                             /* horizontal alignment */
    /* vertical alignment */
    display: none;
    align-items: center;
    justify-content: center;
}
.project-container-overlay-text-details {
    display: none;                                /* dont display on overlay, but display in expanded */
}
/* project background images */
.project-image1 {
    background-image: url(../assets/project_images_videos/ToDo_List/to_do_icon.png);
}
.project-image2 {
    background-image: url(../assets/project_images_videos/interaction_icon.png);
}
.project-image3 {
    background-image: url(../assets/project_images_videos/Nutrilens_AI/nutrilens-logo.png);
}
.project-image4 {
    background-image: url(../assets/website-img.png);
}
.project-image5 {
    background-image: url(../assets/);
}
.project-image6 {
    background-image: url(../assets/);
}
/* project videos */
.project-demo-video1 {
    display: none;
}
/* click */
.project-listings .overlay {
    /* Styles for overlay nested under .project-listings */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);       /* Semi-transparent black overlay */
    z-index: 1000;                                /* Ensure the overlay appears above other content */
}

.project-listings .overlay-content {
    /* Styles for overlay content nested under .project-listings */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    margin: 0 0 0 0;
    background-color: rgb(59, 59, 59);
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.project-extended-display-images-banner {
    /* position: absolute; */
    display: block;
    width: 100%;
    height: 52%;
    padding: 0;
    border-radius: 8px 8px 0 0;
    /* background: url(../assets/website-img.png); */
    background-size: cover;
    margin: 0 0 0 0;
}

.project-extended-display-details {
    display: block;
    width: 100%;
    height: 36%;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.project-extended-display-details h2, h3, p {
    color: rgb(190, 190, 190);
}

.project-extended-display-footer {
    display: flex;
    background-color: black;
    width: 100%;
    height: 12%;
    border-radius: 0 0 8px 8px;
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    /* vertically center text */
    align-items: center;
    /* justify-content: center; */
}
.project-extended-display-footer a {
    margin-left: 12px;
    font: 11px/21px 'opensans-bold', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
.close-expanded-display {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.close-expanded-display:hover {
    text-decoration: underline;
}





/* Responsive Styles */
@media (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 20px;
    }
    main {
        margin-left: 0;
    }
}


