header {
    position: relative;
    min-height: 820px;
    width: 100%;
    background: url(../assets/Alpines.jpeg);
    -webkit-background-size: cover !important;
    background-size: cover;
    text-align: center;
    overflow: hidden;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (last parameter) to change the darkness */
}
body {
    background: #fff;
    font-family: 'opensans-regular', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 30px;
    color: rgb(190, 253, 246);
    -webkit-font-smoothing: antialiased;
}
img {
    max-width: 100%;
    height: auto;
}
li {
    line-height: 18px;
    text-align: match-parent;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/* Remove margin and padding for specific elements */
/* h1, h2, h3, h4, h5, h6, div {
    margin: 0;
    padding: 0;
} */
h1 {
    color: rgb(28, 206, 215);
    font-size: 3.5rem;
    text-align: center;
}
h2 {
    color: rgb(179, 230, 234);
    font-size: 3rem;
    margin: 0;
    margin-bottom: 12px;
    padding-top: 24px;
    text-align: center;
}
h3, body {
    color: rgb(190, 253, 246);
}
h4 {
    color: rgb(105, 207, 241);
    text-align: center;
}
html, body {
    margin: 0;
    padding: 0;
}
button, button:visited {
    font: 16px 'opensans-bold', sans-serif;
    background: #11ABB0;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 0;
    color: #fff;
    padding: 12px 20px;
    margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    width: 250px;
}
button:hover {
    background-color: rgb(28, 206, 215);
}
strong, b {
    font: 15px/30px 'opensans-bold', sans-serif;
}
/* the main text inside header */
.name {
    font-size: 85.9px;
    font: 'opensans-bold', serif;
    letter-spacing: -1px;
    margin: 0 auto 12px auto;
}
.designations {
    font: 'liberbaskerville-regular', serif;
    color: white;
    margin: 64px auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
.name, .designations {
    color: white;
    position: relative;
}
/* wrapper of the navbar */
#nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
}
ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
}
/* every thing under nav-warp */
ul#nav li {                                         /* list items under nav */
    position: relative;
    list-style: none;
    height: 48px;
    display: inline-block;
    margin-right: 40px;
    font-size: medium;
}
ul#nav li a {                                       /* a tags under nav */
    display: inline-block;
    padding: 8px 13px;
    margin-top: 20px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
ul#nav li.current a {                               /* a tags under nav; the CURRENT ONE */
    color: #00aeff;
}
#ul {
    list-style: none outside;
}

.section {
    /* margin: 0 0 0 0; */
    padding: 0 0 0 0;
    display: flexbox;
    background-color: rgb(29, 28, 28);
}

/* other things in header */
.links {
    list-style: none;
}
.links li {
    display: inline-block;
    margin-right: 64px;
}
.links img {
    max-width: 64px;
    max-height: 64px;
    transition: filter 0.3s;
}
.links img:hover {
    filter: invert(80%) sepia(100%) saturate(500%) hue-rotate(180deg); /* Change color using CSS filter */
}
.scroll-down-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#scroll-down-button {
    display: inline-block; /* Change to inline-block */
    background-color: transparent;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    line-height: 48px; /* Set line-height equal to height */
    text-align: center; /* Center the content horizontally */
    position: absolute;
    bottom: 4%;
    left: 50%;
    right: 50%;
    cursor: pointer;
}
#scroll-down-button img {
    vertical-align: middle; /* Vertically center the image */
}
#scroll-down-button:hover {
    background-color: #ccc;
    transition-duration: 0.3s;
}

/* introduction */
#intro-paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.about-me-content {
    max-width: 64%;;
}
.about-me-content img {                     /* rem := root element, so 2rem = 2 * attrib ute of root element/tag */
    height: 12rem;
    width: 12rem;
    border: 1px solid #F06000;
    border-radius: 50%;
    margin: 2.5rem 1rem 0 2rem;
    float: left;
}
#about-me-text {
    font-family: "lora-regular", serif;
    font-size: 2rem;
    line-height: 1.7;
    color: #888888;
}

/* profile, skills container */
.sub-section-container {
    display: flex;
    justify-content: space-around;
    max-width: 70%;
    margin: auto;
    padding-top: 20px;
}
.sub-section {
    max-width: 40%;
}
/* profile and skills */
#profile-text, #skills-text {
    font-family: "lora-regular", serif;
    font-size: 1.3rem;
    line-height: 1.7;
    color: #888888;
}
.my-info-list {
    padding-inline-start: 0;
}
.my-info-list li {
    list-style: none;
}
.my-info-list li strong {
    font-family: 'opensans-bold', sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.25rem;
    line-height: 3rem;
}
.my-info-list li span {
    display: block;
    font-family: 'opensans-bold', sans-serif;
    color: #888888;
    font-size: 1.25rem;
    line-height: 1;
}

/* displayed skill progress */
.skill-bars {
    list-style: none;
    padding: 0;
    margin: 1rem 0;
}
.skill-bars li {
    margin-bottom: 2rem;
    position: relative;
}
.progression {
    background: #313131;
    height: .6rem;
    position: relative;
}
.progression-bar {
    background: #ddd;
    height: 100%;
}
.skill-name {
    margin-top: 1rem;
    font-size: large;
    font-family: 'Roboto Mono', monospace;
}
.skill-percent {
    position: absolute;
    top: -2rem;                                         /* Adjust as needed */
    right: calc(0%);                                    /* Adjust as needed */
    display: block;
    padding: 0.5rem;
    background-color: #555;
    color: white;
    border-radius: 5px;
    opacity: 0;                                         /* Initially hide the tooltip */
    transition: opacity 0.3s ease;                      /* Add a transition effect */
}
.skill-bars li:hover .skill-percent {
    opacity: 1;
}
.skill-percent::after {
    content: '';
    position: absolute;
    top: 100%;
    right: 10px;
    border: 8px solid transparent;
    border-top-color: #555;
}
/* Adjust width according to skill percentage */
.percent90 .progression-bar {
    width: 90%;
}
.percent70 .progression-bar {
    width: 70%;
}
.percent60 .progression-bar {
    width: 60%;
}
/* buttons for hiring */
.buttons-for-hiring-container {
    display: flex;
    justify-content: space-around;
    max-width: 40%;
    margin: auto;
    padding-top: 20px;
}
.button-for-hiring {
    font-size: large;
    font-weight: bold;
    height: 72px;
}

/* projects */
.project-listings {
    display: flex;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.project-container {
    position: relative;
    width: calc(33.33% - 20px);                     /* Adjust width to fit three per row */
    height: calc(33.33vw - 20px);                   /* Set height to match the width, maintaining a square aspect ratio */
    background-color: #00aeff;
    padding: 10px;
    margin: 10px;                                   /* Add some space between items */
    box-sizing: border-box;                         /* Include padding and border in the width calculation */
    /* centering bg image */
    background-size: cover;                         /* Ensure the background image covers the entire container */
    background-position: center;                    /* Center the background image */
}
.project-container:hover  .project-container-overlay{
    opacity: 1;
}
.project-container:hover .project-container-overlay-text-plus{
    display: flex;
}
.project-container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);         /* Semi-transparent black overlay */
    color: white;
    display: flex;
    opacity: 0;                                     /* Initially hidden */
    transition: opacity 0.3s ease;                  /* Smooth transition */
}
.project-container-overlay-text {
    width: 100%;
    height: 100%;
    margin-left: 24px;
    margin-top: 24px;
}
.project-container-overlay-text-title {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
}
.project-container-overlay-text-technology {
    width: 100%;
    font-family: "Courier New", Courier, monospace;
}
.project-container-overlay-text-plus {
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 76px;
    text-align: center;                             /* horizontal alignment */
    /* vertical alignment */
    display: none;
    align-items: center;
    justify-content: center;
}
.project-container-overlay-text-details {
    display: none;                                /* dont display on overlay, but display in expanded */
}
/* project background images */
.project-image1 {
    background-image: url(../assets/project_images_videos/ToDo_List/to_do_icon.png);
}
.project-image2 {
    background-image: url(../assets/project_images_videos/interaction_icon.png);
}
.project-image3 {
    background-image: url(../assets/project_images_videos/Nutrilens_AI/nutrilens-logo.png);
}
.project-image4 {
    background-image: url(../assets/website-img.png);
}
.project-image5 {
    background-image: url(../assets/project_images_videos/Immigration_Assistant/immigration_logo.png);
    background-size: contain;
    background-color: white;
}
.project-image6 {
    background-image: url(../assets/project_images_videos/DocuFriend/DocufriendIcon.png);
}
/* project videos */
.project-demo-video1, .project-demo-video2, .project-demo-video3, .project-demo-video4, .project-demo-video5, .project-demo-video6 {
    display: none;
}
/* click */
.project-listings .overlay {
    /* Styles for overlay nested under .project-listings */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);       /* Semi-transparent black overlay */
    z-index: 1000;                                /* Ensure the overlay appears above other content */
}

.project-listings .overlay-content {
    /* Styles for overlay content nested under .project-listings */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    margin: 0 0 0 0;
    background-color: rgb(59, 59, 59);
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.project-extended-display-images-banner {
    /* position: absolute; */
    display: block;
    width: 100%;
    height: 52%;
    padding: 0;
    border-radius: 8px 8px 0 0;
    background-size: cover;
    margin: 0 0 0 0;
}

.project-extended-display-details {
    display: block;
    width: 100%;
    height: 36%;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.project-extended-display-details h2, h3, p {
    color: rgb(190, 190, 190);
}

.project-extended-display-footer {
    display: flex;
    background-color: black;
    width: 100%;
    height: 12%;
    border-radius: 0 0 8px 8px;
    margin: 0 0 0 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    /* vertically center text */
    align-items: center;
    /* justify-content: center; */
}
.project-extended-display-footer a {
    margin-left: 12px;
    font: 11px/21px 'opensans-bold', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: pointer;
}
.close-expanded-display {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.close-expanded-display:hover {
    text-decoration: underline;
}

/* education */
.timeline-container {
    display: flex;
    position: relative;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;                                       /* Add some margin to separate from the heading */
    min-height: fit-content;
}

.timeline-line {
    position: inherit;
    display: flex;                                          /* Use flexbox to evenly space out points */
    flex-direction: column;                                 /* without this, they would be right next to each-other like *** */
    top: 0;                                                 /* work around for height: 100% */
    bottom: 0;                                              /* work around for height: 100% */
    border-left: 2px solid #ccc;                          /* Adjust thickness and color as needed */
    margin-left: -1px;
    align-items: center;                                    /* Align points vertically in the middle of the line */
}

.timeline-point {
    width: 10px;                                            /* Adjust size as needed */
    height: 10px;                                           /* Adjust size as needed */
    background-color: #ccc;                               /* Adjust color as needed */
    border-radius: 50%;                                     /* Ensure a round shape */
    left: 50%;                                              /* Position the point horizontally in the center of the line */
    transform: translateX(-50%);                            /* Adjust the point's position to center it horizontally */
    cursor: pointer;
    /* Additional styles for positioning the points */
    /* flex: 1;                                                Distribute available space evenly among points */
    margin-top: 60px;                                       /* Adjust vertical spacing if needed */
}

.timeline-point:first-child {
    margin-top: 36px;
}

.timeline-event {
    /* i want it to be hiddent, but then itll collapse the section....
    i guess its fine since 1 will always be active regardless, but still */
}

.timeline-event.active {
    display: block;
}

.education-level {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

.education-date {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* contact */
.contact-banner {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: auto;
    padding-top: 20px;
}
.contact-method-container {
    min-width: (80% / 3) - 10px;
}
.icon-mail::before {
    content: '\e806';
}
.contact-method-container h4 {
    font-size: 1.5rem;
}